<mat-toolbar color="primary" [routerLink]="['/dash']">
  <div class="logo" fxLayout="row" fxLayoutAlign="start center">
    <img src="/assets/logo.png">
    <h1>D&D Tools</h1>
  </div>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="column" fxLayoutGap="15px">
    <button mat-button color="primary" (click)="openCharacterDialog(characterDialog)">
      <mat-icon>edit</mat-icon>
      New Character
    </button>
    <table mat-table [dataSource]="characters" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let character" class="table-name" [routerLink]="['/character', character.name]">
          {{character.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let character">
          <button mat-icon-button (click)="openConfirmDialog(confirmDialog, character)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-card>
</div>

<ng-template #confirmDialog>
  <h2 mat-dialog-title>New Character</h2>
  <mat-dialog-content fxLayout="column">
  </mat-dialog-content>
  Are you sure you want to continue?
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #characterDialog>
  <h2 mat-dialog-title>New Character</h2>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>Character Name</mat-label>
      <input matInput [(ngModel)]="newCharacter.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Character Race</mat-label>
      <input matInput [(ngModel)]="newCharacter.race">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Character Class</mat-label>
      <input matInput [(ngModel)]="newCharacter.charClass">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alignment</mat-label>
      <mat-select [(ngModel)]="selectedAlignment">
        <mat-option *ngFor="let alignment of alignments" [value]="alignment">
          {{alignment}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dice</mat-label>
      <mat-select [(ngModel)]="selectedDice">
        <mat-option *ngFor="let d of dice" [value]="d">
          {{d}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!canSave()">Create</button>
  </mat-dialog-actions>
</ng-template>
