.slot-container {
  width: 80px;
  .reset-btn {
    height: 20px;
    background-color: #2f870b;
    border-radius: 3px;
    border: none;
    color: white;
  }

  .reset-btn[disabled] {
    background-color: #DADADA;
    color: #A3A3A3;
  }

  .add-btn {
    height: 30px;
    background-color: #2f870b;
    border-radius: 3px 7px 7px 3px;
    border: none;
    color: white;
  }

  .add-btn:hover {
    cursor: pointer;
  }

  .add-btn[disabled] {
    background-color: #DADADA;
    color: #A3A3A3;
  }

  .subtract-btn {
    height: 30px;
    background-color: #2f870b;
    border-radius: 7px 3px 3px 7px;
    border: none;
    color: white;
  }

  .subtract-btn:hover {
    cursor: pointer;
  }

  .subtract-btn[disabled] {
    background-color: #DADADA;
    color: #A3A3A3;
  }
}

mat-card {
  padding: 8px !important;
}
