tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.description-container {
  overflow: hidden;
  display: flex;
  padding: 5px;
}

.skill-title {
  position: relative;
  top: -19px;
  background-color: white;
  border: solid 3px #2f870b;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1em;
}

.tabs-container {
  width: calc(100vw - 105px);
}

.dotFilled {
  width: 8px;
  height: 8px;
  border: 1px solid #2f870b;
  border-radius: 50%;
  background-color: #2f870b;
}

.dotEmpty {
  width: 5px;
  height: 5px;
  border: 3px solid #2f870b;
  border-radius: 50%;
}
