mat-card{
  padding: 8px !important;
}

.reset-btn {
  height: 20px;
  background-color: #2f870b;
  border-radius: 3px;
  border: none;
  color: white;
}

.reset-btn[disabled] {
  background-color: #DADADA;
  color: #A3A3A3;
}

.reset-btn:hover {
  cursor: pointer;
}

.tabs-container{
  height: calc(100vh - 240px);
}
