<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>Player Name</mat-label>
      <input matInput [(ngModel)]="playerName">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onEnter()">Enter</button>
  </mat-card>
</div>
