<div fxLayout="row" fxLayoutAlign="center center">
  <table mat-table [dataSource]="character.items" fxFlex="100"style="padding: 5px"
         multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let item">
        <div class="table-name" (click)="expandedItem = expandedItem === item ? null : item">
          {{item.name}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count</th>
      <td mat-cell *matCellDef="let item"> {{item.count}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="editItem(null, itemDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="editItem(item, itemDialog)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="deleteItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="columns.length">
        <div class="example-element-detail"
             [@detailExpand]="item == expandedItem ? 'expanded' : 'collapsed'">
          <div class="description-container">
            <div style="font-size: 1em; font-weight: 500" *ngIf="item.type === 'weapon'">{{item.damage.count +
              item.damage.type + ' ' + item.damageType}}
            </div>
            {{item.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let item; columns: columns;"
        [class.example-expanded-row]="expandedItem === item">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<ng-template #itemDialog>
  <h2 mat-dialog-title>{{getDialogTitle()}}</h2>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>Item Type</mat-label>
      <mat-select [(ngModel)]="itemType" (ngModelChange)="onTypeChange($event)">
        <mat-option [value]="'generic'">
          Generic
        </mat-option>
        <mat-option [value]="'weapon'">
          Weapon
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Item Name</mat-label>
      <input matInput type="text" [(ngModel)]="itemToEdit.name">
    </mat-form-field>
    <div *ngIf="itemType === 'weapon'" fxLayout="row" fxLayoutGap="15px">
      <mat-form-field fxFlex="20">
        <mat-label>Dice</mat-label>
        <input matInput type="number" [(ngModel)]="itemToEdit.damage.count">
      </mat-form-field>
      <mat-form-field fxFlex="80">
        <mat-select [(ngModel)]="itemToEdit.damage.type">
          <mat-option [value]="type" *ngFor="let type of diceTypes">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="itemType === 'weapon'">
      <mat-label>Damage Type</mat-label>
      <input matInput type="text" [(ngModel)]="itemToEdit.damageType">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Item Count</mat-label>
      <input matInput type="number" [(ngModel)]="itemToEdit.count">
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="100">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" [(ngModel)]="itemToEdit.description"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveItem()" [disabled]="!canSave()">Save</button>
  </mat-dialog-actions>
</ng-template>
